@import 'bootstrap.min.css';
@import url("font-awesome.min.css");

/* narrow styles */

.body-narrow {
    height: 100%;
}

.body-narrow {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-narrow {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-narrow .checkbox {
    font-weight: 400;
}

.form-narrow .form-floating:focus-within {
    z-index: 2;
}

.form-narrow input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-narrow input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* narrow styles */

/* medium Styles */

.body-medium {
    height: 100%;
}

.body-medium {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-medium {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}

.form-medium .checkbox {
    font-weight: 400;
}

.form-medium .form-floating:focus-within {
    z-index: 2;
}

.form-medium input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-medium input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* medium Styles */


/* general styles */

.navbar {
    margin-bottom: 20px;
    background-color: #00525D;
}

.btn-primary {
    margin-bottom: 20px;
    background-color: #00525D;
    border-color: #00525D;

}

.btn-outline-light {
    background-color: #00525D;
}

a {
    color: #00525D;
}

.btn-outline-secondary {
    color: black;
}

.btn-outline-secondary:hover {
    background-color: #00525D;
}

.page-link {
    color: black;
}

.page-item.active .page-link {
    background-color: #00525D;
    border-color: #00525D;
}

/* general styles */

/* products card styles */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* products card styles */
